body{
  background-color: #f1f1f1;  
}
.main-banner{
    margin: 0 auto;
    width: 90%;
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative; 
}
.main-banner .imgban {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    transition: all ease-in-out 500ms;
    -webkit-transition: all ease-in-out 500ms;
}
.main-banner #imgban3 {
    background-image: url(b3.jpg);   
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}
.main-banner #imgban2 {
    background-image: url(b2.jpg);   
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}
.main-banner #imgban1 {
    background-image: url(b1.jpg);   
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}
.banner {
    width: 100%;
    height: 400px;
    background-image: url(Untitled.jpg);
    background-size: cover;
    background-position: 69%;
    border-radius: 10px;
    position: static;
    margin: 0px -20px 0px 0px;
}

.banner-text {
    padding-top: 130px;
    margin-left: 55px;
}

.banner-text h2 {
    letter-spacing: 10px;
    font-weight: bold;
    font-size: 25px;
}

.banner-text h1 {
    margin-left: 15px;
    font-size: 90px;
}

#btn {
    width: 130px;
    height: 35px;
    font-weight: bold;
    background-color: black;
    letter-spacing: 3px;
    margin-left: 50px;
    color: rgba(225, 230, 0);
    border: none;
    cursor: pointer;
}

.div-tour {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 250%;
    font-style: oblique;
    margin: 20px 0px 0px 5% ;
}

.grid-box{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr)); 
    gap: 3em;
}

.grid1-box{
    width: 100%;
    height: fit-content;
    padding: 30px 5%;
}

#grid-1{
    width: 90%;
    height: 350px;
    position: relative;
    border-radius: 20px;
}

.card-1{
    scale: 0.8;
    width: 300px;
    aspect-ratio: 2/1.3;
    position: relative;
    border-radius: 20px;

}

.card-1,.card-1-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 90%;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
}

.card-1::after{
    content: "";
    position: absolute;
    inset: 0;
    border: 3px solid rgb(255, 255, 255);
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.card-1:hover img{
    filter: grayscale(0.8) brightness(0.6);
    
} 

.card-1:hover::after{
    opacity: 1;
    inset: 20px;
    box-shadow: 0 35px 40px rgba(0, 0, 0, 0.411);
}

.card-1-obj{
    color: rgb(255, 255, 255);
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card-1-obj-h2{
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.4s 0.2s ease-in-out;
}

.card-1:hover .card-1-obj-h2{
    scale: 1.4;
    opacity: 1;
}

.card-1:hover{
    scale: 0.9;
    opacity: 1;
    transition: 0.2s 0.4s ease-in-out;
}




